*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  height: 100vh;
  width: 100vw;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.dark {
  background-color: #111212;
  color: #ffffff;
}
.word {
  font-size: 10rem;
}
.meaning {
  font-size: 2rem;
}
